body{
  margin:5rem;
  text-align: center;
  background-image: url('https://images4.alphacoders.com/117/1176393.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 5px #740f0f;
}

.heading{
  color:azure;

}
.myname{
  color:#E8F9FD;
  line-height: 5rem;
  font-size: 3rem;
}
.hsir{
  font-size: 60px;
  color: blueviolet;
  text-shadow: 2px 2px 5px #327485;
}
.child{
  margin: 1rem 10rem 0rem;
  border-radius: 115px;
  background-color: rgb(220, 207, 207);
  transition: transform 0.5s;
}
.time{
  font-size: 6rem;
  color: rgb(255, 255, 255);
  font-family: 'Copse', serif;
  text-shadow: 2px 2px 5px red;
  display: block;
}

.child:hover{
  color: #111;
  background: #39ff14;
  box-shadow: 0 0 30px #39ff14;
  transform: translateY(-5px);
}
